:root{
    --padding:50px;
}
.box{
    border: 50px solid red;
    width: calc(200px - var(--padding));
    height: calc(100px - var(--padding));
    margin-bottom: 20px;
    padding: 50px;
}
.green{
    border: 50px solid green;
}
.blue{
    border: 50px solid blue;
}

.challenge2{
    background-color: #fff;
    background-image:
    linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
    linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
}
h1{
    color: #9b59b6;
}
h1:first-child{
    text-align: center;
}
h1::before{
    content: 'Topic: ';
}
p{
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

p::first-letter{
    font-size: 200%;
    color: #2980b9;
}
.sub-header{
    color: #2980b9;
}